@import "tailwindcss";

/* @theme {
    --color-primary: oklch(55% 0.23 250);
    --color-secondary: oklch(75% 0.45 40);
    --color-light: white;
    --color-dark: oklch(15% 0.09 260);

    --font-body: Inter, sans-serif;
    --spacing: 0.25rem;
}

@layer base {
    body {
        font-family: var(--font-body);
        color: var(--color-dark);
        background-color: var(--color-light);
    }
}

@layer components {
    .btn {
      @apply px-4 py-2 font-semibold rounded transition;
    }
  
    .btn-primary {
      @apply btn bg-primary text-white hover:brightness-90;
    }
  
    .card {
      @apply bg-white p-4 rounded-lg shadow;
    }
} */